* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.container {
  font-size: 0; }

header {
  background-color: #DE292B;
  min-height: 11vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2; }
  header h1 {
    display: inline-block;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    letter-spacing: 4px;
    margin: 25px 0 25px 10vw;
    padding: 0; }
    header h1 span {
      display: inline-block;
      font-size: 25px;
      margin-left: 30px; }

.pink {
  background-color: pink; }

#song {
  background-color: #AC292B;
  height: 100%;
  position: absolute;
  right: 0;
  width: 33vw; }
  #song span {
    display: inline-block;
    font-family: 'Bangers', cursive;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 15px 0 0 30px;
    vertical-align: top; }
  #song audio {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 140px; }

#brenna {
  border-radius: 2000px;
  display: inline-block;
  height: 33vw;
  overflow: hidden;
  position: fixed;
  top: 20vh;
  left: 33vw;
  vertical-align: top;
  width: 33vw;
  z-index: 3; }
  #brenna #brenna-img {
    width: 100%; }

.top {
  display: inline-block;
  overflow: hidden;
  height: 100vh; }
  .top video {
    min-width: 100vw;
    min-height: 100vh;
    z-index: 0; }
  .top .rain-cover {
    background-color: rgba(148, 20, 20, 0.2);
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    z-index: 1; }

section div {
  display: inline-block;
  font-size: 16px;
  min-height: 25vh;
  vertical-align: top;
  width: 16.7vw; }
  section div h3, section div p {
    display: inline-block; }
  section div h3 {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    letter-spacing: 2px; }
  section div img {
    width: 33%; }

.transition {
  position: absolute;
  top: 95%;
  width: 100%;
  z-index: 2; }
  .transition div {
    display: inline-block;
    width: 100%; }
  .transition .transition-top {
    background: linear-gradient(rgba(222, 41, 43, 0), #de292b);
    height: 1.5vh; }
  .transition .transition-middle {
    background-color: #DE292B;
    height: 12vh; }
  .transition .transition-bottom {
    background: linear-gradient(#de292b, rgba(222, 41, 43, 0));
    height: 1.5vh; }

.underneath {
  background: url(/images/dust_scratches.png) repeat;
  width: 100vw; }
  .underneath div {
    background-color: rgba(121, 133, 143, 0.3);
    margin-top: 30vh; }
    .underneath div h3 {
      padding: 15px 11%; }
  .underneath h3 {
    width: 100%; }
  .underneath .photos {
    margin-left: 16.7vw;
    width: 32vw; }
  .underneath .press {
    margin-left: 2vw;
    width: 32vw; }
  .underneath .img-container {
    background: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .underneath .img-container img {
      margin: 0 0 30px 11%;
      padding: 0;
      vertical-align: top;
      width: 33%; }
    .underneath .img-container .horizontal {
      margin-left: 11%;
      width: 78%; }
  .underneath .about {
    margin: 5vh 0 10vh 16.7vw;
    width: 66vw; }
    .underneath .about h3 {
      padding: 30px 40px; }
    .underneath .about p {
      line-height: 1.5;
      padding: 0 40px 20px; }

footer {
  background-color: #AC292B;
  min-height: 10vh; }
  footer a {
    color: #000000;
    display: block;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-right: 8.3%;
    padding: 10px 0;
    text-align: right;
    text-decoration: none; }

.shrunken {
  -webkit-animation: PortraitShift 1s forwards;
  -moz-animation: PortraitShift 1s forwards;
  -o-animation: PortraitShift 1s forwards;
  animation: PortraitShift 1s forwards; }

.lightened {
  -webkit-animation: ColorShift 1s forwards;
  -moz-animation: ColorShift 1s forwards;
  -o-animation: ColorShift 1s forwards;
  animation: ColorShift 1s forwards; }

@-webkit-keyframes PortraitShift {
  100% {
    top: 2vh;
    left: 4vw;
    height: 64px;
    width: 64px; } }

@-moz-keyframes PortraitShift {
  100% {
    top: 2vh;
    left: 4vw;
    height: 64px;
    width: 64px; } }

@-o-keyframes PortraitShift {
  100% {
    top: 2vh;
    left: 4vw;
    height: 64px;
    width: 64px; } }

@keyframes PortraitShift {
  100% {
    top: 2vh;
    left: 4vw;
    height: 64px;
    width: 64px; } }

@-webkit-keyframes ColorShift {
  100% {
    background-color: #DE292B; } }

@-moz-keyframes ColorShift {
  100% {
    background-color: #DE292B; } }

@-o-keyframes ColorShift {
  100% {
    background-color: #DE292B; } }

@keyframes ColorShift {
  100% {
    background-color: #DE292B; } }
