$light: #c4c4c4;
$dark: #DE292B;
$darker: #AC292B;
.container{
	font-size: 0;
}
header{
	background-color: $dark;
	height: 11vh;
	h1{
		display: inline-block;
		font-family: 'Bangers', cursive;
		font-size: 50px;
		letter-spacing: 2px;
		margin: 25px;
		padding: 0;
		}
}
.song{
	background-color: $darker;
	height: 11vh;
	position: fixed;
	right: 0;
	width: 33vw;
	audio{
		display: inline-block;
		margin: 5.5% 40px;
	}
}
.brenna{
	border-radius: 2000px;
	display: inline-block;
	margin: 8vh 8.3vw;
	vertical-align: top;
	width: 33vw;
}
section{
	background-color: $light;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 25vw;
	div{
		font-size: 16px;
		min-height: 100px;
		margin: 30px;
		h3, p{
			display: inline-block;
			margin: 10px;
		}
		h3{
			font-family: 'Bangers', cursive;
			font-size: 25px;
		}
		img{
			margin: 12%;
			width: 75%;
		}
	}
}
